body{
    margin: 0;
    padding: 0;
}
.techspire{
    background-image: url(techspire.png);
    height: 506px;
    width:100% ;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment:initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    


}
.about{
    background-color:#b6211a !important;
    width: fit-content;
    border-radius: 8px;
    border: 4px solid #fff;
    padding: 20px 80px;
    margin-top: -46px;
    margin-bottom: 0;
    color: #fff;
    margin-left: 290px;
    font-size: 35px;
    font-weight: 400;
    
    
}
.college img{
   margin-bottom: 0px;
   width: 550px;
   height: 521px;
   margin-left: 290px;
   
   
}
.college{
    border-top: pink;
    border-bottom: red;
}
h2{
    margin-bottom: 20px;
    color: black;
    min-height: 0vw;
    line-height: 1.3;
    font-size: 50px;
    
}
.college_text{
    margin-left: 1050px;
    margin-right: 280px;
    color: gray;
    margin-top: -550px;
    font-size: 20px;

}
.feature-list{
    color: black;
    font-size: 20px;
    
}
.tech{
    margin-top:70px;
    margin-left: 290px;
    margin-right: 280px;
    font-size: 20px;
    color: #434343;
}
.tech h4{
    color: black;
    font-size: 25px;
}
.image-overlay-section {
  padding: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 850px;
  margin-top: 100px;
}

.image-wrapper {
  position: relative;
  width: fit-content;
}

.image-back {
  width: 400px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.image-front {
  width: 400px;
  border-radius: 8px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 2;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.thrive h2{
   margin-left: 850px;
   margin-right: 150px;
   margin-top: -320px;
   
}
.thrive p{
     margin-left: 850px;
   margin-right: 200px;
   color: #434343;
   font-size: 20px;
}
.thrive h4{
      margin-left: 850px;
   margin-right: 200px;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f7f7f7;
}

.highlights {
  padding: 60px 40px;
  text-align: center;
background-color: #F5F5F5;

}

.highlights h2 {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #111;
  margin-right:900px;
 
}

.highlight-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #b91c1c;
  color: white;
  width: 190px;
  padding:50px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .icon {
  font-size: 30px;
  margin-bottom: 15px;
  display: inline-block;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
}